{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/transform-modules-commonjs",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
